*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    background-color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

footer {
    color: aliceblue;
}

.reader {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.reader-video {
    background-color: #000;
    border: 2px white solid;
    width: 100%;
    object-fit: fill;
}
